<ion-header>
  <ion-toolbar color="footer" text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pasaje Aereo Personal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopoverTuCuenta($event)">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item text-center>
    <ion-label color="primary">Datos Basicos solicitante</ion-label>
  </ion-item>
  <ion-row>
    <ion-col size="4">
      <ion-label class="ion-label_">Fecha solicitud</ion-label>
      <div class="div1 text-center">{{fecha_actual | date:'yyyy-MM-dd'}}</div>
    </ion-col>
    <ion-col size="4">
        <ion-label class="ion-label_">Estado</ion-label>
        <div class="div1 text-center">Solicitados</div>
    </ion-col>
    <ion-col size="4">
        <ion-label class="ion-label_">Solicita</ion-label>
        <div class="div1 text-center">Jorge Sanchez</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-label class="ion-label_">Cedula</ion-label>
      <div class="div1 text-center">{{cedula}}</div>
    </ion-col>
    <ion-col size="4">
        <ion-label class="ion-label_">Centro de costo</ion-label>
        <div class="div1 text-center">{{centroDeCosto}}</div>
    </ion-col>
    <ion-col size="4">
        <ion-label class="ion-label_">SubCen. Costo</ion-label>
        <div class="div1 text-center">{{subCentroCosto}}</div>
    </ion-col>
  </ion-row>
  <ion-item text-center>
    <ion-label  color="primary">Detalles solicitud</ion-label>
  </ion-item>
  <ion-row>
    <ion-col size="6">
      <ion-label class="ion-label_">Nac/Int </ion-label>
      <ion-select placeholder="Seleccione uno" interface="popover" (ionChange)="cambioTipo($event)">
        <ion-select-option value="nacional" >Nacional</ion-select-option>
        <ion-select-option value="internacional" >Internacional</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="6">
        <ion-label class="ion-label_">Trayecto</ion-label>
        <ion-select placeholder="Seleccione uno" interface="popover" (ionChange)="cambioTrayecto($event)">
          <ion-select-option value="ida_vuelta" >Ida y Vuelta</ion-select-option>
          <ion-select-option value="solo_ida" >Solo Ida</ion-select-option>
        </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" text-center >
      <ion-label class="ion-label_">Ciudad origen</ion-label>
      <ion-button shape="round" fill="outline" color="footer" (click)="presentPopoverOrigen()">{{textBotonCiudadO}}</ion-button>
    </ion-col>
    <ion-col size="6" text-center>
      <ion-label class="ion-label_">Ciudad destino</ion-label>
      <ion-button shape="round" fill="outline" color="footer"  (click)="presentPopoverDestino()">{{textBotonCiudadR}}</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" text-center >
      <ion-item>
        <ion-label position="floating">Fecha Ida</ion-label>
        <ion-datetime [pickerOptions]="optionspickers" 
                      min="2019-08-29" 
                      max="2030-12-09" 
                      [ngModel]="fecha_actualI" 
                      monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic" >
        </ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="6" text-center>
        <ion-item>
          <ion-label position="floating">Hora Ida</ion-label>
          <ion-datetime [pickerOptions]="optionspickersH" displayFormat="h:mm A" value="00:00"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="banderaTrayecto">
    <ion-col size="6" text-center >
      <ion-item>
        <ion-label position="floating">Fecha Regreso</ion-label>
        <ion-datetime [pickerOptions]="optionspickersFr" 
                      min="2019-08-29" 
                      max="2030-12-09" 
                      [ngModel]="fecha_actualR" 
                      monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic" >
        </ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="6" text-center>
        <ion-item>
          <ion-label position="floating">Hora Regreso</ion-label>
          <ion-datetime [pickerOptions]="optionspickersHr" displayFormat="h:mm A" value="00:00"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
 
  <ion-button color=footer expand="block" (click)="presentPopoverAddpasajero()">
      <ion-icon name="person-add" slot="start" ></ion-icon>
      <ion-label class="ion-label_"> Agregar Pasajero</ion-label>  
  </ion-button>
  <ion-row  *ngFor="let pasajero of datosPasajeros" >
    <ion-col size="4">
      <ion-item text-center>
        <ion-label>
            {{pasajero.documentoPasajero}}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item text-center>
        <ion-label>
            {{pasajero.nombres | slice:0:3}}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item text-center>
        <ion-label>
            {{pasajero.apellidos}}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer >
  <ion-toolbar color="footer" text-center >
        <ion-button color="footer" margin-end (click)="sendSolicitud()" >
          <ion-icon name="add-circle" ></ion-icon>
          <ion-label >Enviar solicitud</ion-label>
        </ion-button> 
        <ion-button color="footer" margin-start routerLink="/calendario" >
          <ion-icon name="calendar"></ion-icon>
          <ion-label >Calendario</ion-label>
        </ion-button>   
  </ion-toolbar>
</ion-footer>