<ion-header>
  <ion-toolbar color="footer" text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pasaje Aereo Personal</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item text-center>
    <ion-label>Datos Basicos</ion-label>
  </ion-item>
  <ion-row>
    <ion-col size="4">
      <ion-label class="ion-label_">Fecha solicitud</ion-label>
      <div class="div1 text-center">2012-12-3</div>
    </ion-col>
    <ion-col size="4">
        <ion-label class="ion-label_">Estado</ion-label>
        <div class="div1 text-center">Solicitados</div>
    </ion-col>
    <ion-col size="4">
        <ion-label class="ion-label_">Solicita</ion-label>
        <div class="div1 text-center">Jorge Sanchez</div>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar color="footer" text-center>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>