<ion-header>
  <ion-toolbar color="footer" text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitud Pasajes</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="../../assets/img/edi_5.webp" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/edi_5.webp " alt="">
    </ion-slide>
  </ion-slides>
  <div text-center >
    <h4>Que deseas realizar...</h4>
  </div>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" color="tertiary" mode="md">
      <ion-segment-button value="personal">
        <ion-icon name="body"></ion-icon>
        <ion-label>Pasaje personal</ion-label>
      </ion-segment-button>
      <ion-segment-button value="laboral">
          <ion-icon name="build"></ion-icon>
        <ion-label>Pasaje laboral</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div padding>
    <ion-item>
      <ion-label>Tipo de registro</ion-label>
      <ion-select placeholder="Seleccione uno" interface="popover" (ionChange)="cambio($event)">
        <ion-select-option value="" disabled>Seleccione Uno</ion-select-option>
        <ion-select-option *ngFor="let opcion of opciones" value="{{opcion.value}}">{{opcion.opcion}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div padding>
    <ion-item> 
      <ion-label>Estados</ion-label>
      <ion-select  interface="popover" (ionChange)="cambioEstados($event)" >
        <ion-select-option *ngFor="let opcion of opciones_"  value="{{opcion. value_}}">{{opcion.opcion_}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

</ion-content>